@import url('https://fonts.googleapis.com/css2?family=Creepster&display=swap');
body{
   background-color: rgb(25, 25, 25);
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
nav{
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
nav div{
    display: flex;
    gap: 20px;
}
nav ul{
    display: flex;
    gap: 30px;
    margin-top: 25px;
}
li{
    text-decoration: none;
    list-style-type: none;
    font-size: 13px;
}
.intro{
    width: 100%;
    color: white;
    padding: 0 40px;
    background-color: #222121;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intro h3{
    font-family: "Creepster", system-ui;
    font-weight: 300;
}
.intro .name{
    display: flex;
    gap: 5px;
}
.intro .search{
    display: flex;
    gap: 20px;
    margin-right: 50%;
}
.sign .btn_1{
    padding: 10px 20px;
    background-color: transparent;
    border: none;
    color: white;
    font-size: 15px;
}
.sign .btn_2{
    padding: 10px 20px;
    background-color: red;
    border-radius: 5px;
    border: none;
    color: white;
    font-size: 15px;
    margin-right: 75px;
}
.lines{
    display: flex;
}
.red{
    color: red;
    width: 100px;
}
.grey{
    color: #3A3A3A; 
    width: 90%;
}
main{
    width: 95%;
    display: flex;
    gap: 30px;
    margin: 0 auto; 
}
aside{
    width: 300px;
    color: white;
}
.right{
    width: 900px;
    color: white;
    padding-bottom: 50px;
}
.top5{
    display: flex;
    align-items: center;
}
.movie_photo{
    width: 90px; 
    height: 170px; 
    object-fit: cover;
    cursor: pointer;
}
.top5 h2{
    margin-left: 20px;
}
.top5 p{
    margin-left: 20px;
}
.container{
    display: flex;
    gap: 100px;
}
.arrow p{
    font-size: 20px;
}
.categories  p{
    padding: 5px 0;
    color: #636363;
}
.series{
    display: flex;
    padding: 20px 0;
    gap: 20px;
    cursor: pointer;
}
.four_series{
    border-radius: 20px;
    position: relative;
    overflow: hidden;
    text-align: center;
}
.blur_series{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 70px;
    backdrop-filter: blur(2px);
    background: #2D2D2D4A;
    text-align: center;
}
.blur_mostWatch{
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    backdrop-filter: blur(2px);
    background: #0000004a;
    text-align: center;
}
.blur_mostWatch h3{
    margin-top: 50px;
}
.fiver img{
    width: 160px;
    cursor: pointer;
}
.fiver{
    border-radius: 20px;
    text-align: center;
}
.all{
    display: flex;
    gap: 30px;
    padding: 20px 0;
}
.triple img{
    width: 280px;
}
.triple{
    text-align: center;
}
.headers{
    display: flex;
    justify-content: space-between;
    align-items: end;
}
.headers p{
    font-size: 13px;
    color: #AAA9A9;
}
footer{
    height: 20px;
    background-color: rgb(119, 118, 118);
    color: white;
    padding: 0 60px;
    font-size: 15px;
    font-family:'Times New Roman', Times, serif;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
footer ul{
    display: flex;
    gap: 20px;
}